body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

.jumbotron {
	background-image: url('../static/guardianJumbo.jpg');
	width: 100%;
	height: 760px;
	margin-top: 0px;
}

.navLogo {
	height: 45px;
	margin: 10px;
}

.navBut {
	color: white;
	background-color: red;
	border-radius: 22px;
	height: 45px;
	padding: 10px;
}

.navbar-default {
	background-color: black;
	opacity: 50%;
}

.text {
	font-family: 'Raleway';
	font-weight: 300;
}
a {
	color: white;
	text-decoration: none;

}
a:hover{
	color: white;
	text-decoration: none
}
.menu {
	border-bottom: 5px solid red;
	padding: 5px;
	color: white;
	float: right;
	display: inline-block;
	height: 30px;
	width: 100px;
	margin: 0px 5px 0px 5px;
}
.menu:hover {
	background-color: white;
	border-bottom: 5px solid green;
	color: black;
	text-decoration-color: #333333;
	display: inline-block;
	height: 30px;
	width: 100px;
	float: right;
}
#logoWhite {
	height: 300px;

}
#logoDiv {
	margin-top: 50px;
	float: center;
}

#jumbotext {
	float: bottom;
	width: 100%;
	font-size: 4em;
	font-family: 'Raleway';
	font-weight: 300;
	font-color: white;
	margin-bottom: 75px;
}