{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong></p> {{ error }}{% endif %}
  <div class="container" align="center">
    <div id='logoDiv'>
      <img src="{{url_for('static', filename='guardianWhite-02.png')}}" id ='logoWhite' style="height: 50px; margin-top: 50px">
    </div>
    <form action="{{ url_for('login') }}" method=post align="center">
      <dl>
        <dt>Email:
        <dd><input type=text name=email>
        <dt>Password:
        <dd><input type=password name=password>
        <dd><input type=submit value=Login>
      </dl>
    </form>
  </div>
{% endblock %}
